*{
    margin: 0;
    padding: 0;
}
.rap{
    background-color: #CD5FCF;
    margin-left: 10px;
    margin-right: 700px;
    margin-top: 60px;
    padding: 10px;
    margin-bottom: 260px;
}

 
body{
    width: 100%;
    height: 100vh;
}
.map{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    background-color:#3C046D;

}
.mb-4{
    border: 3px solid black;
    background-color: black;
}

.mb-3{
    border: 3px solid #ff0000;
    background-color: #ff0000;
}


.form-label{ 
    color: rgb(255, 255, 255);
}